header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 32px 0 21px;
    position: relative;
    z-index: 100;
}
header .inner {
    display: flex;
    align-items: center;
    gap: 80px;
}
header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
}
@media screen and (min-width:1201px) {
    header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 423px;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: -1;
        display: none;
    }
    header.menu_pc::before {
        display: block;
    }
    header .gnb .gnb_open, 
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        line-height: 100px;
        padding: 0 30px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a:hover {
        font-weight: 700;
        color: #751f20;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute;
        top: 100px;
        left: 50%;
        width: 151px;
        text-align: center;
        transform: translateX(-50%);
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
        margin-top: 24px;
    }
    header .tnb {
        display: flex;
        gap: 22px;
        align-items: center;
    }
    header .tnb .lang .list {
        position: relative;
        padding-top: 25px;
        right: 13px;
        top: 3px;
        display: none;
    }
    header .tnb .lang .list.open {
        display: block;
    }
    header .tnb .lang .list ul li {
        position: relative;
        z-index: 3;
        margin-bottom: 18px;
    }
    header .tnb .lang .list ul li.active {
        font-weight: 700;
        color: #751f20;
    }
    header .tnb .lang .list::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 170%;
        height: 125%;
        background-color: #fff;
        box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.3);
        z-index: 2;
    }
}
@media screen and (max-width:1400px) {
    header .inner {
        gap: 50px;
    }
    header .logo a img {
        width: 90%;
        height: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
        padding: 0 15px;
    }
}
@media screen and (max-width:1200px) {
    header {
        position: relative;
    }
    header .gnb .gnb_wrap,
    header .gnb .gnb_close,
    header .tnb .login,
    header .tnb .lang {
        display: none;
    }
    header .gnb {
        line-height: 0;
        font-size: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    header .gnb .gnb_open {
        width: 100px;
        height: 100px;
        position: relative;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 40px 40px;
    }
    header .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.375 21.3125V20.4375H24.625V21.3125H5.375ZM5.375 15.4375V14.5625H15H24.625V15.4375H5.375ZM5.375 9.5625V8.6875H24.625V9.5625H5.375Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_close::before {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00187 22.8846L7.11719 21.9999L14.1172 14.9999L7.11719 7.99992L8.00187 7.11523L15.0019 14.1152L22.0019 7.11523L22.8866 7.99992L15.8866 14.9999L22.8866 21.9999L22.0019 22.8846L15.0019 15.8846L8.00187 22.8846Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .tnb {
        margin-right: 68px;
    }
}
@media screen and (max-width:768px) {
    header {
        height: 55px;
        padding: 0 0 0 20px;
    }
    header .gnb .gnb_open {
        width: 55px;
        height: 55px;
    }
    header .logo a img{
        width: 80%;
        height: auto;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        background-size: 30px 30px;
    }
    header .tnb {
        margin-right: 55px;
    }
    header .tnb .search button img {
        width: 80%;
        height: auto;
    }
}

footer {
    background-color: #272727;
    color: #fff;
    display: flex;
    padding: 10px 0 80px 0;
}
footer .f_info {
    width: 690px;
}
footer .f_info .logo {
    text-indent: -9999px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    width: 391px;
    height: 67px;
    margin: 77px 0 0 65px;
}
footer .f_info .info {
    padding: 169px 0 0 40px;
}
footer .f_guide {
    display: flex;
    gap: 104px;
}
footer .f_guide .community,
footer .f_guide .use {
    padding-top: 87px;
}
footer .f_guide .community .donation h2,
footer .f_guide .use h2 {
    margin-bottom: 17px;
    font-weight: 700;
}
footer .f_guide .community .donation .details .item,
footer .f_guide .use .help ul li {
    line-height: 1.6;
}
footer .f_guide .community .trademark .icon {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 110px;
}
footer .f_guide .community .trademark .copyright {
    opacity: 0.5;
}
footer .f_guide .use .design {
    margin-top: 120px;
    opacity: 0.5;
}

@media screen and (max-width:1200px) {
    footer .f_info .logo {
        width: 256px;
        height: 44px;
    }
}
@media screen and (max-width:768px) {
    footer {
        padding: 40px 20px 40px 20px ;
        display: block;
    }
    footer .f_info {
        width: auto;
    }
    footer .f_info .logo {
        width: 195px;
        height: 34px;
        margin: 0;
    }
    footer .f_info .info {
        margin: 0;
        padding: 50px 0 0 0;
    }
    footer .f_guide {
        display: block;
    }
    footer .f_guide .community,
    footer .f_guide .use {
        padding-top: 35px;
    }
    footer .f_guide .community .donation h2,
    footer .f_guide .use h2 {
        margin-bottom: 8px;
    }
    footer .f_guide .community .trademark .icon {
        margin-top: 35px;
    }
    footer .f_guide .use .help ul {
        display: flex;
        gap: 29px;
    }
    footer .f_guide .use .help ul li {
        position: relative;
    }
    footer .f_guide .use .help ul li::before {
        content: "";
        position: absolute;
        right: -16px;
        top: 4px;
        width: 1px;
        height: 12px;
        background-color: #fff;
        opacity: 0.3;
    }
    footer .f_guide .use .help ul li:last-child::before {
        display: none;
    }
    footer .f_guide .use .design {
        margin-top: 35px;
    }
}

