@import url(default.css); /* 태그의 기본 스타일 빼기 */
@import url(font.css); /* 웹폰트 선언 */
@import url(common.css); /* wrapper, 기본 글자 스타일 */
@import url(layout.css); /* header/footer  */


.visual {
    position: relative;
    margin: 0 5%;
}
.visual .swiper ul li {
    height: 900px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.visual .swiper ul li.bg1 {
    background-image: url(../images/main/visual_01.jpg);
}
.visual .swiper ul li.bg2 {
    background-image: url(../images/main/visual_02.jpg);
}
.visual .swiper ul li.bg3 {
    background-image: url(../images/main/visual_03.jpg);
}
.visual .swiper ul li.bg4 {
    background-image: url(../images/main/visual_04.jpg);
}

.visual .swiper ul li .visual_txt {
    color: #fff;
    font-size: 80px;
    line-height: 1.2;
    margin: 0 31% 272px 13%;
}
.visual .swiper ul li .loading {
    width: 189px;
    height: 3px;
    background-color: #fff;
    margin-top: 51px;
    position: relative;
}
.visual .swiper ul li .loading::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #751f20;
}
.visual .swiper ul li.swiper-slide-active .loading::before {
    animation-name: loading_ani;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes loading_ani {
    0% { width: 0; }
    100% { width: 100%; }
}

.visual .btn_wrap {
    position: absolute;
    left: 0;
    bottom: 38px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1px;
}
.visual .btn_wrap button {
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 30px;
    position: relative; /* before가 정렬의 기준 */
}
.visual .btn_wrap button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.visual .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='40' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.65 31.1112L12.75 21.389L24.65 11.6667V31.1112Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='40' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.35 31.1112L21.25 21.389L9.35 11.6667V31.1112Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4844 23.5V6.5H22.3281V23.5H17.4844ZM7.67188 23.5V6.5H12.5156V23.5H7.67188Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.668 25.3334V6.66675L25.3346 16.0001L10.668 25.3334Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.play {
    display: none;
}

.visual .link {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 31%;
    height: 100%;
    border-left: 1px solid #fff;
    z-index: 1;
}

.visual .link ul {
    width: 100%;
}
.visual .link ul li {
    border-top: 1px solid #fff;
    position: relative;
}


.visual .link ul li::before {
    content: "";
    position: absolute;
    right: 26px;
    bottom: 35px;
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.6969 31.25H12.5V28.75H42.6969L28.2162 14.2694L30 12.5L47.5 30L30 47.5L28.2162 45.7306L42.6969 31.25Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.visual .link ul li a {
    font-size: 45px;
    color: #fff;
    display: block;
    padding: 41px 0 113px 48px;
}

@media screen and (max-width:1400px) {
    .visual .swiper ul li .visual_txt {
        font-size: 65px;
    }
    .visual .link ul li a {
        font-size: 35px;
    }
}
@media screen and (max-width:1200px) {
    .visual .swiper ul li {
        height: 550px;
    }
    .visual .swiper ul li .visual_txt {
        font-size: 45px;
        margin-bottom: 150px;
        margin: 0 31% 160px 10%;
    }
    .visual .swiper ul li .loading {
        width: 120px;
        height: 2px;
        margin-top: 25px;
    }
    .visual .btn_wrap button {
        width: 25px;
        height: 25px;
    }
    .visual .link ul li::before {
        right: 13px;
        bottom: 17px;
        width: 35px;
        height: 35px;
    }
    .visual .link ul li a {
        font-size: 25px;
        padding: 25px 0 70px 30px;
    }
}
@media screen and (max-width:768px) {
    .visual {
        margin: 0 20px;
    }
    .visual .swiper ul li {
        height: 350px;
    }
    .visual .swiper ul li .visual_txt {
        font-size: 35px;
        margin: 0 7% 100px 7%;
    }
    .visual .swiper .loading {
        display: none;
    }
    .visual .link {
        background-color: #eae1d0;
        position: relative;
        right: auto;
        bottom: auto; 
        width: auto;
        height: auto;
        border-left: none;
    }
    .visual .link ul {
        display: flex;
    }
    .visual .link ul li {
        border-top: none;
        width: 50%;
        text-align: center;
        position: relative;
    }
    .visual .link ul li::after {
        content: "";
        position: absolute;
        height: 18px;
        width: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #1d1d1d;
    }
    .visual .link ul li:nth-child(1)::after {
        display: none;
    }
    .visual .link ul li::before {
        display: none;
    }
    .visual .link ul li a {
        color: #1d1d1d;
        font-size: 17px;
        padding: 14px 0;
    }
    .visual .btn_wrap {
       display: none;
    }
}
.info {
    margin: 0 5%;
}
.info ul {
    display: flex;
}
.info ul li {
    width: 33.33%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-right: 1px solid #1d1d1d;
}
.info ul li:last-child {
    border-right: none;
}
.info ul li strong {
    font-weight: 700;
    position: relative;
    padding-left: 8px;
}
.info ul li strong::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 5px;
    height: 5px;
    
    background-color: #1d1d1d;
    border-radius: 50%;
}
@media screen and (max-width:1200px) {
    .info ul li {
        font-size: 14px;
        padding: 12px;
    }
    .info ul li strong::before {
        top: 8px;
        width: 3px;
        height: 3px;
    }
}
@media screen and (max-width:768px) {
    .info {
        margin: 40px 20px 0 20px;
    }
    .info ul {
        display: block;
    }
    .info ul li {
        width: auto;
        display: block;
        border-right: none;
        padding: 0;
        margin-bottom: 18px;
    }
    .info ul li strong::before {
        top: 6px;
    }
}

.identity {
    background: url(../images/main/iden_bg.jpg) no-repeat center center / cover;
    width: 100%;
    height: 876px;
    border-top: 1px solid #1d1d1d;
    border-bottom: 1px solid #1d1d1d;
}
.identity .iden_txt {
    margin: 357px 0 0 17.19%;
}
.identity .iden_txt h2 {
    font-size: 80px;
}
.identity .iden_txt h2 strong {
    color: #751f20;
}
.identity .iden_txt p {
    font-size: 35px;
}

@media screen and (max-width:1400px) {
    .identity {
        height: 750px;
    }
    .identity .iden_txt {
        margin: 300px 15% 0 15%;
    }
    .identity .iden_txt h2 {
        font-size: 65px;
    }
    .identity .iden_txt p {
        font-size: 30px;
    }
}
@media screen and (max-width:1200px) {
    .identity {
        height: auto;
    }
    .identity .iden_txt {
        margin-top: 180px;
        padding-bottom: 160px;
    }
    .identity .iden_txt h2 {
        font-size: 45px;
    }
    .identity .iden_txt p {
        font-size: 20px;
    }
}
@media screen and (max-width:768px) {
    .identity {
        height: auto;
        margin-top: 45px;
    }
    .identity .iden_txt {
        margin: 106px 20px 0 20px;
        padding-bottom: 79px;
    }
    .identity .iden_txt h2 {
        font-size: 35px;
    }
    .identity .iden_txt p {
        font-size: 17px;
    }
}


.exhibition .tit {
    position: relative;
    padding-top: 143px;
}
.exhibition .tit::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -34px;
    background-color: #1d1d1d;
}
.exhibition .tit .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.exhibition .tit h2 {
    font-size: 45px;
    margin-left: 65px;
}
.exhibition .tit .tab_list ul {
    display: flex;
    gap: 48px;
}
.exhibition .tit .tab_list ul li {
    font-size: 25px;
    position: relative;
}
.exhibition .tit .tab_list ul li::before {
    content: "";
    position: absolute;
    width: calc(100% + 50%);
    height: 55px;
    left: -25%;
    top: -10px;
    background-color: #751f20;
    z-index: -1;
    opacity: 0;
}
.exhibition .tit .tab_list ul li.active {
    color: #fff;
}
.exhibition .tit .tab_list ul li.active::before {
    opacity: 1;
}
.exhibition .tit .more {
    line-height: 0;
    font-size: 0;
}
.exhibition .tit .more a {
    position: absolute;
    bottom: 10px;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
}
.exhibition .tit .more a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.77569 10.6169H0.703125V8.76202H8.77569V0.689453H10.6306V8.76202H18.7031V10.6169H10.6306V18.6895H8.77569V10.6169Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
.exhibition {
    padding-bottom: 109px;
    position: relative;
}
.exhibition::before {
    content: "";
    position: absolute;
    left: calc(50% - 630px);
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #1d1d1d;
}
.exhibition .list {
    margin-top: 98px;
    top: 0;
    position: relative;
    left: calc(50% - 562px);
    width: calc(50% + 562px);
}
.exhibition .list .swiper ul li {
    width: 295px;
}
.exhibition .list .swiper ul li a {
    display: block;
}
.exhibition .list .swiper ul li a .photo {
    position: relative;
    overflow: hidden;
}
.exhibition .list .swiper ul li a .photo img {
    width: 100%;
}
.exhibition .list .swiper ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    opacity: 0;
    transition: 0.2s;
}
.exhibition .list .swiper ul li.hover a .photo::before {
    opacity: 1;
}
.exhibition .list .swiper ul li a h3 {
    margin: 24px 0 8px 0;
    font-size: 25px;
    font-weight: 700;
}
.exhibition .list .swiper ul li a .tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 12px 0 13px 0;
}
.exhibition .list .swiper ul li a .tag span {
    border: 1px solid #1d1d1d;
    padding: 7px 10px;
} 


@media screen and (max-width:1400px) {

}
@media screen and (max-width:1300px) {
    .exhibition::before {
        left: 20px;
    }
    .exhibition .list {
        position: relative;
        left: 86px;
        width: calc(100% - 86px);
    }
}
@media screen and (max-width:1200px) {
    .exhibition {
        padding-bottom: 40px;
    }
    .exhibition .tit {
        padding-top: 80px;
    }
    .exhibition .tit::before {
        bottom: -20px;
    }
    .exhibition .tit h2 {
        font-size: 25px;
        margin-left: 40px;
    }
    .exhibition .tit .tab_list ul {
        gap: 22px;
    }
    .exhibition .tit .tab_list ul li {
        font-size: 17px;
    }
    .exhibition .tit .tab_list ul li.active::before {
        width: calc(100% + 30%);
        height: 36px;
        left: -15%;
        top: -6px;
    }
    .exhibition .tit .more a {
        bottom: 2px;
        width: 25px;
        height: 25px;
    }
    .exhibition .tit .more a::before {
        background-size: 14px 14px;
    }
    .exhibition .list {
        margin-top: 50px;
        left: 60px;
        width: calc(100% - 60px);
    }
    .exhibition .list .swiper ul li {
        width: 200px;
    }
    .exhibition .list .swiper ul li a h3 {
        margin: 12px 0 7px 0;
        font-size: 17px;
    }
    .exhibition .list .swiper ul li a .tag {
        margin: 8px 0 6px 0;
    }
    .exhibition .list .swiper ul li a .tag span {
        border: 1px solid #1d1d1d;
        padding: 4px 7px;
    } 
}
@media screen and (max-width:768px) {
    .exhibition .tit {
        padding-top: 66px;
    }
    .exhibition .tit .wrapper {
        display: block;
    }
    .exhibition .tit::before {
        display: none;
    }
    .exhibition .tit h2 {
        margin-left: auto;
        font-size: 22px;
        margin-bottom: 18px;
    }
    .exhibition .tit .tab_list ul {
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
    .exhibition .tit .tab_list ul li {
        font-size: 14px;
    }
    .exhibition .tit .tab_list ul li.active::before {
        width: calc(100% + 30%);
        height: 30px;
        left: -15%;
        top: -6px;
    }
    .exhibition .tit .more a {
        bottom: 45px;
        width: 20px;
        height: 20px;
    }
    .exhibition .tit .more a::before {
        background-size: 12px 12px;
    }
    .exhibition {
        padding-bottom: 60px;
    }
    .exhibition::before {
        display: none;
    }
    .exhibition .list {
        margin: 33px 0 0 0;
        left: 20px;
        width: calc(100% - 20px);
    }
    .exhibition .list .swiper ul li {
        width: 200px;
    }
    .exhibition .list .swiper ul li a h3 {
        margin: 7px 0 5px 0;
        font-size: 14px;
    }
    .exhibition .list .swiper ul li a p {
        display: none;
    }
    .exhibition .list .swiper ul li a .tag {
        display: none;
    }
}
/*1200이하에서 tab_list가 화면 밖까지 넓이가 잡힘
1200이상에서 more a::before이 브라우저가 줄어들면 따라오지 않아서 가로 스크롤바가 생김
이미지만 아래정렬하는 방법*/




body {
    margin-bottom: 1000px;
}

