@font-face {
    font-family: 'JeonjuCraft_Mj';
    src: url('JeonjuCraftMjB.woff2') format('woff2'),
        url('JeonjuCraftMjB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JeonjuCraft_Mj';
    src: url('JeonjuCraftMjL.woff2') format('woff2'),
        url('JeonjuCraftMjL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}